[Unit]
Description=App server for customs

[Service]
User=ufukty
WorkingDirectory=/home/ufukty
ExecStart=/home/ufukty/customs -volume=/mnt/volume_fra1
Restart=always

[Install]
WantedBy=multi-user.target