[Unit]
Description=App server for evolver

[Service]
User=ufukty
WorkingDirectory=/home/ufukty
ExecStart=/home/ufukty/evolver
Restart=always

[Install]
WantedBy=multi-user.target