__debug_bin
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.env
.fseventsd
.history
.history/
.ionide
.LSOverride
.source-me-untracked.sh
.Spotlight-V100
.TemporaryItems
.terraform.lock.hcl
.terraformrc
.Trashes
.VolumeIcon.icns
.vscode/*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_override.tf
*_override.tf.json
*_REMOTE_*.txt
*.BACKUP.*
*.BASE.*
*.dll
*.dylib
*.exe
*.exe~
*.icloud
*.LOCAL.*
*.log
*.orig
*.out
*.REMOTE.*
*.retry
*.so
*.test
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.vsix
**/.terraform/*
**/artifacts/**/*
**/artifacts/ssh.conf.d/*
**/test-files
application/examples/**/tde
benchmark
build
crash.*.log
crash.log
go.work
Icon
inventory.cfg
Network Trash Folder
override.tf
override.tf.json
platform/debug/.mount
platform/local/.mount
secrets
secrets.sh
service_discovery.json
Temporary Items
terraform.rc

!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/markdown.css
!.vscode/settings.json
!.vscode/tasks.json
!**/artifacts/ssh.conf.d
!**/artifacts/ssh.conf.d/9.defaults.conf
!platform/local/.env
