[Unit]
Description=App server for customs
# After=app-db-tunnel.service

[Service]
Type=simple
User=tde_app
WorkingDirectory=/home/tde_app
ExecStart=/home/tde_app/customs -config=/home/tde_app/config.yml
Restart=always
RestartSec=5s
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=/var/log/tde.d/backup.log

[Install]
WantedBy=multi-user.target