# Include ~/.ssh/config

%{ for provider, regions in providers ~}
%{ for region, resources in regions ~}
%{ for service, hosts in resources.services ~}
%{ for host in hosts ~}
Host ${host.name}
  HostName ${host.ipv4_address_private}
%{ endfor ~}

%{ endfor ~}
%{ endfor ~}
%{ endfor ~}
1