[Unit]
Description=App server for api-gateway

[Service]
User=2iuFDs13YDedYc3N
WorkingDirectory=/home/2iuFDs13YDedYc3N
ExecStart=/home/2iuFDs13YDedYc3N/api-gateway -config=/home/2iuFDs13YDedYc3N/config.yml
Restart=always

[Install]
WantedBy=multi-user.target