[Unit]
Description=App server for customs

[Service]
User=ufukty
WorkingDirectory=/home/ufukty
ExecStart=/home/ufukty/customs -config=/home/ufukty/config.yml
Restart=always

[Install]
WantedBy=multi-user.target