[Unit]
Description=App server for runner

[Service]
User=ufukty
WorkingDirectory=/home/ufukty
ExecStart=/home/ufukty/runner -config=/home/ufukty/config.yml
Restart=always

[Install]
WantedBy=multi-user.target