[Unit]
Description=SSH Tunnel that connects application server to localhost of Postgres server
After=network.target

[Service]
Type=forking
User={{SUDO_USER}}
Restart=always
RestartSec=5
ExecStart=ssh -o StrictHostKeyChecking=no -o ServerAliveInterval=60 -o ExitOnForwardFailure=yes -i /home/{{SUDO_USER}}/.ssh/sync-application-server.private -fNL 5432:localhost:5432 {{POSTGRES_USER}}@{{POSTGRES_SERVER_PRIVATE_IP}}

[Install]
WantedBy=multi-user.target